.ant-list-item-action {
  display: flex;
  justify-content: end;
  border-radius: 50px;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
  margin-top: 10px;
}

.App-body {
  background: #40a09d6d;
  position: fixed;
  display: flex;
  /* opacity: 0.5; */
  justify-content: center;
}

.Logo-text {
  /* border-style: solid;
  border-width: 4px;
  border-color: #404a4a; */
  /* background: #ffffff; */
  border-radius: 18px;
  padding: 13px;
  /* -webkit-filter: drop-shadow(1px 1px 1 #000000) drop-shadow(1px 1px 1px #000000);
  filter: drop-shadow(1px 1px 1px #000000) drop-shadow(1px 1px 1px #000000); */
}

.HomePage {
  display: flex;
  flex-direction: column;
  align-self: "center";
}

.ListPage {
  display: flex;
  flex-direction: column;
  align-self: center;
  background-color: rgb(255, 255, 255);
  width: 850;
  min-height: 800;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 40s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
