.App {
  /* text-align: center; */
  height: 500px;
}

.ant-list-item-action {
  display: flex;
  justify-content: end;
}
.App-logo {
  height: 20vmin;
  pointer-events: none;
  margin-top: 10px;
}
.App-body {
  background: repeating-linear-gradient(45deg, #00678c, #00678c 80px, #ffffff 80px, #ffffff 200px);
  display: flex;
  justify-content: center;
  height: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 60s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
